In [ ]:
class calc:
  def add(self):
    n1 = 20
    n2 = 10
    print("Addition =",n1+n2)

  def sub(self):
    n1=33
    n2=45
    print("Subtraction =",n1-n2)

In [ ]:
df1 = calc()

In [ ]:
df1.add()

Addition = 30

In [ ]:
calc.add(df1)

Addition = 30

In [ ]:
type(df1)

__main__.calc

In [ ]:
n1 =78.5
type(n1)

float

In [ ]:
id(df1)

133974219534688

In [ ]:
df2 = calc()

In [ ]:
id(df2)

133973801922912

In [ ]:
class calc:
  def add(n):
    n1=eval((input("Enter 1st Number :- ")))
    n2=eval((input("Enter 2nd Number :- ")))
    print("Addition =",n1+n2)

  def sub(n,n1,n2):
    print("Subtraction =",n1-n2)

In [ ]:
obj1 = calc()

In [ ]:
obj1.add()

Enter 1st Number :- 33
Enter 2nd Number :- 20
Addition = 53

In [ ]:
obj2 = calc()

In [ ]:
obj2.sub(80,20)

Subtraction = 60

In [ ]:
calc.sub(obj2,80,20)

Subtraction = 60

**Type of Variable**
  * Intance Variable
  *  class/static Variable

**Types of Method**
  * instance Method
    * Aceesor :- get_xxxx()
    * Mutators :- set_xxxx()
  * class Method
  * Static Method

In [ ]:
df1 = (1,2,3,4)
df2 = (4,5,6,7)

type(df1 + df2)

tuple

In [ ]:
class employee:
  cmp = "TCS" # class/satic Variable
  def __init__(self):
    self.name = "Akash" # instance Variable
    self.age = 28
    self.ac = 8767687798
    self.__sal = 25600
    self.__loan = 4352
    print("Myself Constructer .....")

  def get_show(self):
    print(f"Complany ={employee.cmp} Name = {self.name} Age = {self.age} Account = {self.ac} Salary ={self._employee__sal} Loan = {self._employee__loan} ")

  def set_inc(self):
    self.sal = self.sal + self.sal*0.1

  @classmethod
  def modify(cls):
    cls.cmp = "Infosys"

  @staticmethod
  def calc():
    n1 = eval(input("Enter 1st Number :- "))
    n2 = eval(input("Enter 2nd Number :- "))
    print(f"Addition = {n1+n2} Subtraction = {n1-n2}" )

In [ ]:
df1= employee()
df2=employee()
df3 =employee()

Myself Constructer .....
Myself Constructer .....
Myself Constructer .....

In [ ]:
df1.__sal

AttributeError: 'employee' object has no attribute '__sal'

In [ ]:
df1._employee__loan

In [ ]:
df1.cmp

'TCS'

In [ ]:
df1.calc()

Enter 1st Number :- 455
Enter 2nd Number :- 20
Addition = 475 Subtraction = 435

In [ ]:
df1.cmp = "Tata Motors"

In [ ]:
df1.get_show()

Complany =TCS Name = Akash Age = 28 Account = 8767687798 Salary =25600 Loan = 4352

In [ ]:
df1.modify()

In [ ]:
df1.get_show()

Complany =Infosys Name = Akash Age = 28 Account = 8767687798 Salary =25600 Loan = 4352

In [ ]:
employee.cmp = "Tata Motors"

In [ ]:
df1.get_show()

Complany =Tata Motors Name = Akash Age = 28 Account = 8767687798 Salary =25600 Loan = 4352

In [ ]:
df2.get_show()

Complany =Infosys Name = Akash Age = 28 Account = 8767687798 Salary =25600 Loan = 4352

In [ ]:
df6 = employee()

Myself Constructer .....

In [ ]:
df6.get_show()

Complany =Tata Motors Name = Akash Age = 28 Account = 8767687798 Salary =25600 Loan = 4352

In [ ]:
df1.age

28

In [ ]:
df1.get_show()

Complany =TCS Name = Akash Age = 28 Account = 8767687798 Salary =25600 Loan = 4352

In [ ]:
df1.set_inc()

In [ ]:
df1.get_show()

Name = Akash Age = 28 Account = 8767687798 Salary =28160.0 Loan = 4352

In [ ]:
df1.name

'Akash'

In [ ]:
df2 = employee()

In [ ]:
df2.get_show()

Name = Akash Age = 28 Account = 8767687798 Salary =25600 Loan = 4352

In [ ]:
df2.name ="Mukesh"
df2.ac=878768767
df2.sal = 57658

In [ ]:
df2.get_show()

Name = Mukesh Age = 28 Account = 878768767 Salary =57658 Loan = 4352

**Inheritance**
  * Single Inhertance :- a class derived from only one calss ,t.e called single inheritance.
  * Multiple inheratance :- a class derived from more than one calss , t.e called Multiple inheritance

In [ ]:
class calc:
  def add(self):
    n1 = 20
    n2 = 40
    print("Addition =",n1+n2)
  def sub(self):
    n1=20
    n2=30
    print("Subtraction  =",n1-n2)

class airt(calc):
  def mult(self):
    n1 = 30
    n2 = 10
    print("Multiplication =",n1*n2)

  def div(self):
    x=60
    y=15
    print("Divsion =",x/y)

In [ ]:
df = airt()

In [ ]:
df1 = calc()

In [ ]:
df1.add()

Addition = 60

In [ ]:
df1.div()

AttributeError: 'calc' object has no attribute 'div'

In [ ]:
df.add()

Addition = 60

In [ ]:
df.sub()

Subtraction  = -10

In [ ]:
df.mult()

Multiplication = 300

In [ ]:
df.div()

Divsion = 4.0

In [ ]:
class parent:
  def __init__(self):
    self.bal1 = 3560000
    self.loan1 = 65757
    self.ac1 =8797998989

  def get_show(self):
    print(f"Parent's Balance = {self.bal1} Loan Ammount = {self.loan1} Account Number = {self.ac1}")


class child(parent):
  def __init__(self):
    self.bal = 42500000
    self.loan = 345345
    self.ac = 4354647
    super().__init__()

  def get_show(self):
    super().get_show()
    print(f"Child's Balance = {self.bal} Loan Ammount = {self.loan} Account Number = {self.ac}")

  def total_prop(self):
    print(f"Total Property of child ={self.bal + self.bal1} Loan Ammount ={self.loan+self.loan1} ")

In [ ]:
df1 = child()

In [ ]:
df1.loan

345345

In [ ]:
df1.bal

42500000

In [ ]:
df1.get_show()

Parent's Balance = 3560000 Loan Ammount = 65757 Account Number = 8797998989
Child's Balance = 42500000 Loan Ammount = 345345 Account Number = 4354647

In [ ]:
df1.total_prop()

Total Property of child =46060000 Loan Ammount =411102

In [ ]:
# Multiple Inheritance

In [21]:
class parent:
  def __init__(self):
    self.bal1 = 3560000
    self.loan1 = 65757
    self.ac1 =8797998989
    super().__init__()

  def get_show(self):
    print(f"Parent's Balance = {self.bal1} Loan Ammount = {self.loan1} Account Number = {self.ac1}")
    super().get_show()


class mother:
  def __init__(self):
    self.bal2 = 325000
    self.laon2 = 0
    self.ac2 = 43553

  def get_show(self):
    print(f"Mother's Balance = {self.bal2} Loan Ammount = {self.laon2} Account Number = {self.ac2}")

class child(parent,mother):
  def __init__(self):
    self.bal = 42500000
    self.loan = 345345
    self.ac = 4354647
    super().__init__()

  def get_show(self):
    super().get_show()
    print(f"Child's Balance = {self.bal} Loan Ammount = {self.loan} Account Number = {self.ac}")

  def total_prop(self):
    print(f"Total Property of child ={self.bal + self.bal1 + self.bal2 } Loan Ammount ={self.loan+self.loan1+laon2 } ")

In [22]:
df = child()
df.bal2

325000

In [23]:
df.laon2

0

In [24]:
df.get_show()

Parent's Balance = 3560000 Loan Ammount = 65757 Account Number = 8797998989
Mother's Balance = 325000 Loan Ammount = 0 Account Number = 43553
Child's Balance = 42500000 Loan Ammount = 345345 Account Number = 4354647

In [28]:
class circle:
  def __init__(self,r):
    self.r = r
    super().__init__(int(input('Enter the length ')),int(input("Enter the bredth ")))

  def area(self):
    print(f"Area of Circle = ",3.14 * self.r **2 )
    super().area()


class rectangle:
  def __init__(self,l,b):
    self.l = l
    self.b = b

  def area(self):
    print(f"Area of Rectangle = ",self.l * self.b )



class square(circle,rectangle):
  def __init__(self,x):
    self.x = x
    super().__init__(x)

  def area(self):
    print(f"Area of Square = ",self.x * self.x )
    super().area()

In [29]:
s1 = square(12)

Enter the length 6
Enter the bredth 2

In [30]:
s1.area()

Area of Square =  144
Area of Circle =  452.16
Area of Rectangle =  12

**Polymorphism :-**
  * Duck Typing
  * Operator Overloading
  * Method Overloading
  * Method Overiding